@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&family=Open+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #cbd8df;
}

body {
  height: 100%;
  background-image: linear-gradient(to right, #656565, #a8a8a8);
}

h1 {
  color: #121c24;
  text-align: center;
  margin: 5vh auto 3vh;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2.2rem;
  text-shadow: -2px 2px 5px #5c5c5c;
}

hr {
  border-color: #0e2935;
  border-style: dotted none none;
  border-width: 10px;
  height: 0px;
  width: 50%;
  margin: auto;
  opacity: 0.7;
}

button {
  background-color: #0e2935;
  display: inline-block;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin: auto;
  border: none;
  font-size: 1.7rem;
  box-shadow: 0px 2px 5px #235b75, inset 0px 2px 1px #b1b1b1;
}
button:hover {
  cursor: pointer;
  box-shadow: inset -1px 2px 5px #5c5c5c;
}

.zero {
  grid-column: 1/3;
  width: 95%;
  border-radius: 50px;
}

#times,
#minus {
  padding-bottom: 0.5rem;
}

.calculator {
  margin: 8vh auto;
  height: 600px;
  max-width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #121c24;
  box-shadow: -11px 11px 10px #5c5c5c;
}
.calculator:hover {
  cursor: pointer;
  transform: translate(3px, -3px);
  transition-duration: 100ms;
  box-shadow: -15px 15px 15px #5c5c5c;
}
.calculator__screen {
  height: 15%;
}
.calculator__display {
  font-size: 5rem;
  text-align: right;
  margin-right: 1rem;
  margin-top: 1rem;
}
.calculator__buttons {
  margin: 0 0.5rem;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.calculator__number, .calculator__decimal {
  box-shadow: 0px 2px 5px #163a4a, inset 0px 2px 1px #4f4f4f;
}
.calculator__number:hover, .calculator__decimal:hover {
  background-color: #9ac5d3;
  color: #121c24;
  box-shadow: inset -1px 2px 20px #5c5c5c;
}
.calculator__top-row {
  background-color: #9ac5d3;
  color: #121c24;
}
.calculator__top-row:hover {
  background-color: #cbd8df;
}
.calculator__operator, .calculator__equals {
  background-color: #159ab7;
  font-size: 2.3rem;
}
.calculator__operator:hover, .calculator__equals:hover {
  background-color: #d7f9f8;
  color: #159ab7;
}

@media screen and (max-height: 830px) {
  header {
    display: none;
  }

  .calculator {
    margin: 3vh auto;
  }
}