@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

$font-main: 'Open Sans', sans-serif;;

$color-background: #111111;
$color-text: #fff;

$color-buttons-main: #343232;
$color-hover-main: #606060;

$color-top-row: #787878;
$color-operators: #f5ac24;

// reset styling and set color of everything to white + body's background

* {
    padding: 0;
    margin: 0;
    font-family: $font-main;
    color: $color-text;
}

body {
    height: 100%;
    background-image: linear-gradient(to right, #656565, #959595, #a8a8a8);
}

// basic styling of h1 and generic styling for buttons

h1 {
    color: #362828;
    text-align: center;
    margin: 5vh auto;

}

button {
    display: inline-block;
    background-color: $color-buttons-main;
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin: auto;
    border: none;
    font-size: 1.7rem;

    &:hover {
        background-color: $color-hover-main;
    }
}

// additional button styling

.zero {
    grid-column: 1/3;
    width: 100%;
    border-radius: 50px;
}


#times,
#minus {
    padding-bottom: 0.5rem;
}



// calculator's body styling

.calculator {
    margin: auto;
    height: 600px;
    max-width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-background;

    &__screen {
        height: 15%;
    }

    &__display {
        font-size: 5rem;
        text-align: right;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    &__buttons {
        margin: 0 0.5rem;
        height: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    }

    &__top-row {
        background-color: $color-top-row;
    }

    &__operator,
    &__equals {
        background-color: $color-operators;
        font-size: 2.5rem;

        &:hover {
            background-color: $color-text;
            color: $color-operators;
        }
    }
}
