@use "./variables" as *;

// calculator's body styling for dark mode

.calculator {
    margin: 5vh auto;
    height: 600px;
    max-width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-background;
    box-shadow: -15px 15px 15px $color-shadow;

    &:hover {
        cursor: pointer;
    }

    &__screen {
        height: 22%;
    }

    &__display {
        font-size: 5rem;
        padding-top: 20px;
        text-align: right;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    &__buttons {
        margin: 0 0.5rem;
        height: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    &__number,
    &__decimal {
        box-shadow: 0px 2px 5px #163a4a, inset 0px 2px 1px #4f4f4f;

        &:hover,
        &:focus {
            background-color: $color-top-row;
            color: $color-background;
            box-shadow: inset -1px 2px 20px $color-shadow;
        }
    }

    &__top-row {
        background-color: $color-top-row;
        color: $color-background;

        &:hover,
        &:focus {
            background-color: $color-text;
        }
    }

    &__operator,
    &__equal {
        background-color: $color-operators;
        font-size: 2.3rem;

        &:hover,
        &:focus  {
            background-color: $color-hover-main;
            color: $color-operators;
        }
    }

    .zero {
        grid-column: 1/3;
        width: 95%;
        border-radius: 50px;
    }
    
    
    #times,
    #minus {
        padding-bottom: 0.5rem;
    }

}